@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Roboto:ital,wght@0,100;1,900&display=swap');
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  .rightWidgetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 1;
    padding-left: 0;
    padding-right: 1vw;
    .dustDataContainer {
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: column;

      .dustDataText {
        font-size: 12px;
      }
    }
    .contentView {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
  .widgetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    padding-left: 1vw;

    .widget {
      cursor: pointer;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: auto;
      border: 3px solid white;
      border-radius: 10px;
      margin-top: 10px;
      font-weight: bold;
      color: white;
      &:hover {
        color: gray;
        border: 3px solid gray;
      }
      .addWidget {
        font-size: 30px;
      }
      #eventDate {
        font-size: 12px;
      }
      .widgetDateText {
        display: flex;
        justify-content: center;
      }
    }
  }
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

    .modal_body {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 150px;
      text-align: center;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
      transform: translateX(-50%) translateY(-50%);

      .stopWatch {
        display: flex;
        flex-direction: column;
        align-items: center;
        .time {
          font-size: 30px;
          font-weight: bold;
        }
        .btnContainer {
          display: flex;
          width: 40%;
          flex-direction: row;
          justify-content: space-between;
          .fa-solid {
            font-size: 30px;
            &:hover {
              color: gray;
            }
          }
        }
      }
      .addWidgetModal {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-weight: bold;
        }
        article {
          display: flex;
          flex-direction: column;
          width: fit-content;
          .widgetText {
            border: 1px solid black;
            border-radius: 2px;
            margin-bottom: 10px;
          }
          .howToCount {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
          }
        }
      }
      .btnContainer {
        .deleteBtn {
          display: none;
        }
        .show {
          display: inline-block;
        }
      }
    }
  }
  .show {
    display: flex;
  }
}

header {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  ul {
    display: flex;
    height: 30%;
    justify-content: space-between;
    list-style: none;
    a {
      text-decoration: none;
      li {
        color: white;
        margin-right: 12px;
        &:hover {
          color: gray;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .phrase {
    p {
      font-family: 'Nanum Brush Script', cursive;
      color: rgb(0, 0, 0);
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
  }
  .date {
    text-align: center;
    h1 {
      color: white;
      font-size: 70px;
      text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    }
  }
  .todoListContainer {
    text-align: center;
    font-weight: bold;
    .userNameInput {
      width: 70px;
      background: none;
      border: none;
      border-bottom: 1px solid white;
      color: white;
      text-align: center;
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }
    .userName {
      color: white;
      font-size: 30px;
      cursor: pointer;
    }
    .todolistOfToday {
      font-size: 20px;
    }

    .todoInput {
      background: none;
      border: none;
      border-bottom: 1px solid white;
      width: 100%;
      text-align: center;
      color: white;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: white;
      }
    }
    .todoList {
      list-style: none;
      padding: 0;
      li {
        color: white;
        text-align: center;
      }
      .clear {
        text-decoration: line-through;
      }
    }
    .resetBtn {
      width: 100px;
      background: brown;
      font-size: 20px;
      span {
        font-weight: bold;
      }
    }
  }
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  font-weight: bold;
}

// @media (max-width: 768px) {
//   main {
//     .date {
//       h1 {
//         font-size: 30px;
//       }
//     }
//   }
// }
